MONGO_URI="mongodb+srv://MJ:uIbGFhBrzFl43muG@cluster0.zhmwh56.mongodb.net/genz_restaurant"
# or mongodb+srv://user:pass@cluster.mongodb.net/genz?retryWrites=true&w=majority

PORT=5000
JWT_SECRET=genz_super_secret_key_change_me
ADMIN_EMAIL=owner@genz.com
ADMIN_PASSWORD=genz123

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
